# 05.09.2023

1. Python uses dynamic typing system which enable you to do smth like:    
` a = 2; a = 'kekw' `   
This means that variables are actually references which point to data.    
From StackOverflow: Python does not have variables, like other languages where variables have a type and a value; it has names pointing to objects, which know their type. Names themselves just don't have a "type" property.
2. r-string (raw strings) are used mostly for Windows pathnames and regular expressions since they instruct python to treat \\ as a regular char.   
`r'C:\Windows\system32\'`

In [ ]:
# * - turns an array into a series of vars passed to a func
array = ['Hi', 'How', 6, '2323', [1,2,3] ]
print(array)
print(*array, sep='--')

# Find out the index of an element.
print( array.index(6) )
#
text = 'Hello.'
print('Bery goog.') if text.endswith('.') else print('.bad')

- set =  unordered_set (implemented using hash funcs), cannot be indexed, no duplicates, immutable items (tho you can add and remove them)
- dict = unordered_map 
```python
## checking if a num is in a dict
if number not in num_entries:

## dict c++ behavior (init to default value for that type if key is not present)
dict.setdefault(key, 0) ## return the value of key or init it with default value and then return it if the key is not present
num_entires[num] = num_entires.setdefault(key, 0) + 1 # Increase and init.
```

Reading a sequence of numbers
```python
input = input() # LOOK AT THE CELL ABOVE.
input_list = input.split(' ')
nums = [ int(char) for char in input_list ]
print(nums)

# How you should actually write this code:
nums = [ int(ch) for ch in input.split() ]
```

You can use lambdas to shape what functions see but apply that to original data.
```python
sorted([3, 1, 2], key=lambda x: -x) # sorted sees [-3, -1, -2] -> [-3, -2, -1].

# for sorting tuples: 
sorted(..., lambda x: (-x[0], x[1]) ) # -> sort tuples by descending first field but ascending second.
# useful if you're sorting (num, string) pairs: nums is descending, string alphabetically. 
# Regular reversed=True would invert BOTH.
```

# 12.09.2023

There are mutable and immutable data types in python.  
Mutable: list dict   
Immutable: int, string, bool, tuple, float     
`a = [1,2,x]`    
Lists are references to a mutable array of references.    
Tuples are references to an immutable array of references.    
This distinction is needed, for instance, for definining what can be a dictionary key. 
**Keys must be immutable and can be hashed.**

---

Data type converiosn:
`num = int(s, 16); s = str(num)` 16 here is the base.

---

Useful string methods: `'abba'.replace('a', '')` yields 'bb'. Also strip().

In [ ]:
print(repr('\n hello world \n')) # Return a canonical representation of an object.
print(repr('\n hello world \n'.strip('\n')))

Exception handling:

```python
try:
    int(s, 16)
except:
    print('Oops. Processing...')
    delay(10e100) # hehe
finally:
    shut_down_nuclear_launch() # Regardless of if something was caught or not. Neat stuff NOT present in cpp.
    # Actually this is ESSENTIAL for closing a file, closing a stream, etc.
    # Now imagine this was a cron-command (a script working in background at all times). Not freeing a resource (not just memory! which is handled by the interpeter) will be awful here.

```

__Rule of thumb: always free acquired resources (e.g. close open files) in the 'finally' block__.

Python actually uses exceptions all the time. For example,    
when iterating over a list in a for loop Python throws an exception at the end which is then handled by the loop.

See python notes for more.
Function argument types:
1. Positional
2. Key-value

Take note of '_' being used here as a placeholder for a coherent name.     
A very good note on types of args and return values (uses the 'typing' module): [Link](https://stackoverflow.com/questions/2489669/how-do-python-functions-handle-the-types-of-parameters-that-you-pass-in#21384492)

In [ ]:
def my_func(arg1, arg2, arg3=None):
    _ = 10e3
    print(f'Here are your args: {arg1}, {arg2}, {arg3}', _)

my_func(arg1='1', arg3='2', arg2="HH")

Reading data from a file (basic) also using zip():
Focus on comments with this one.

In [ ]:
fname1, fname2 = 'data.csv', 'data.txt' # This makes a tuple. It is devided on the left and constructed on the right.

# Open returns a file descriptor.
# first_fd = open(fname1, 'r') # DO NOT EVEN. That was solved by the RAII idiom in C++. Here it is easier to 就
with open(fname1, 'r') as first_fd:
    # print(first_fd.readlines())
    nums = [s.split(' ') for s in [s.replace(',', '') for s in [s.rstrip('\n') for s in first_fd.readlines()]]]
    print(*nums) # split one num arg into two args
    result = [ list(line) for line in zip(*nums) ] # so here it zips [1, 2, 3, 4, 5] AND [10, 11, 44, 22, 44] like usual)
    print( list(result) ) # if you '*result' print says 'expected one argument, got 5'
    # Zip can also works with any number of same-length input lists. (makes tuples of size 3, 4, 5...)

# first_fd.close()

Some cool stuff:     
` sorted(words, key = lambda i: len(i)) -----> sorted(words, key=len) # BOOM `

# 19.09.23 (Classes)

In [ ]:
# In C++ this->field = filed_arg wouldn't work for constant fields.
# Because fields are initialized before assignment through this.
# For const field only initialized_lists would work because it initializes fields directly.

# __name__ are magic methods
class Car:
    #def __new__(cls):  # Accepts a class and makes an ins1 of this class.
        # __new__ is needed when we inherit a class from an immutable type (e.g. a tuple)
        # there are no constant fields in python, there are static however.
        # The second type of constructor
        #pass
    # Init works with an intance of a class made by __new__ so if you redefine __new__ like this
    # you get an error on car = Car('Volvo', 'S60', 1234) saying __new__ takes 1 arg but 4 were given
    
    def __init__(self, manfucturer, name, vin): # Accepts an ins1 of a class and works with it.
        # Turns an ins1 into an initialized ins1.
        # Classic constructor
        self._manufacturer = manfucturer
        self.name = name
        self.vin = vin

    def __del__(self):
        # This is called when the garbage collector deletes an instance of this class.
        print('In __del__(self)')

    def __str__(self):
        return f'This car is {self.name}, made by {self._manufacturer.upper()}'
    
    def __int__(self):
        return self.vin
    
    def __lt__(self, other): # This also defines > as 'not <'
        return self.vin > other.vin
    
    def __mul__(other): # 5 * other
        pass        
    def __rmul__(): # other * 5
        pass
    def __imul__(): # *=
        pass
    def __div__(): # /
        pass

car1 = Car('Volvo', 'S60', 1234)
print(f"Car's name is {car1.name}")
print()
print(car1)
car2 = Car('Vaz', '2101', 50)
print('Younger') if car1 > car2 else print('Older')

In [ ]:
class Car:    
    def __init__(self, manfucturer, name, vin): 
        self._manufacturer = manfucturer # _name is a convention for writing fields which are not meant to be explicitly changed
        # i.e. Car._manufacturer = 10 is forbidden.
        self.name = name
        self.vin = vin

    def __del__(self):
        print('In __del__(self)')

    def __str__(self):
        return f'This car is {self.name}, made by {self._manufacturer.upper()}'
    
    def drive(self, distance):
        print(f'Driving for {distance}km')
    
class ICECar(Car): # internal combustion car
    def __init__(self, manfucturer, name, vin, fuel):
        super().__init__(manfucturer, name, vin)    # super returns 'self' for parrent class
        self.fuel = fuel

    def drive(self, distance):
        super().drive(distance)
        self.fuel -= distance

class ElectricCar(Car):
    def __init__(self, manfucturer, name, vin, capacity):
        super().__init__(manfucturer, name, vin) # might as well Car.__init__()
        self.capacity = capacity

    def drive(self, distance):
        super().drive(distance) # If you remove drive() in ElectricCar then super() will call ICEcar
        self.capacity -= distance

class HybridCar(ElectricCar, ICECar):
    def __init__(self, manufacturer, name, vin, fuel, capacity):
        Car.__init__(self, manufacturer, name, bin)
        self.fuel = fuel
        self.capacity = capacity

hybrid = HybridCar('Volvo', 'XC90', 999, 60, 50)
print(f'Fuel is {hybrid.fuel}, capacity is {hybrid.capacity}')
hybrid.drive(20) # Notice how fuel gets less if you write ICECar, ElectricCar.
print(f'Fuel is {hybrid.fuel}, capacity is {hybrid.capacity}')

In [ ]:
# Incapsulation
# self._field -> you can print(ins1._field), but CANNOT change.
# self.__field -> you can't access outside of class

class Car:    
    def __init__(self, manfucturer, name, vin): 
        self._manufacturer = manfucturer # _name is a convention for writing fields which are not meant to be explicitly changed
        # i.e. Car._manufacturer = 10 is forbidden.
        self.name = name
        self.__vin = vin

    def __del__(self):
        print('In __del__(self)')

    def __str__(self):
        return f'This car is {self.name}, made by {self._manufacturer.upper()}'
    
    def drive(self, distance):
        print(f'Driving for {distance}km')
    
class ICECar(Car): # internal combustion car
    def __init__(self, manfucturer, name, vin, fuel):
        super().__init__(manfucturer, name, vin)    # super returns 'self' for parrent class
        self.fuel = fuel

    def drive(self, distance):
        super().drive(distance)
        self.fuel -= distance

class ElectricCar(Car):
    def __init__(self, manfucturer, name, vin, capacity):
        super().__init__(manfucturer, name, vin) # might as well Car.__init__()
        self.capacity = capacity

    def drive(self, distance):
        super().drive(distance) # If you remove drive() in ElectricCar then super() will call ICEcar
        self.capacity -= distance

class HybridCar(ElectricCar, ICECar):
    def __init__(self, manufacturer, name, vin, fuel, capacity):
        Car.__init__(self, manufacturer, name, bin)
        self.fuel = fuel
        self.capacity = capacity

h = HybridCar('Volvo', 'XC90', 999, 60, 50)
#print(h.__vin) # type object 'HybridCar' has no attribute '__vin'
print(h.name) # But this works
print(h._Car__vin(8)) # wtf is this tho. This is specific to Jupyter Notebook.
# works in regular python
c = Car('Volvo', 'CX60', 12344343)
print(c._Car__vin) # You can still access it like this.

In [ ]:
## static fields
class X:
    field = 20 # static

ins1 = X()
print(X.field)
print(ins1.field)
ins2 = X()
ins2.field = 100 # Static field changes only for this instance
# Now ins2 has its own field 
print(ins1.field, X.field, ins2.field)
X.field = 1000
print(ins1.field, X.field, ins2.field) # A prikol here.

In [ ]:
## Modules
import time
import pandas as pd
from matplotlib import pyplot 
from numpy import *
import pandas as pd
from math import sin, cos, cosh as ch

class Timer:    
    def __init__(self) -> None:
        self.begin = time.time()

    def __del__(self) -> None:
        print(f'Elapsed time is { time.time() - self.begin }.')

def compute() -> float:
    t = Timer()
    sum = 0.
    for i in range( int( 1000 ) ):
        sum += sin(i) + cos(i)

    t.__del__() # so you need call a destructor here. Sounds familiar? Having to remember to destroy something.
    return sum

print(f'sum of stuff is {compute()}') # t is not guaranteed to be deleted right after compute() here.

compute() 

# This leads us to DECORATORS
# @ is a function that takes a function and expands its behavior.

def hello_decorator(some_function): # a function is a 'first-class object' in python. 这是很好玩。
    def wrapper_function(*args, **kwargs): # pass all arguments down to some_function().
        print('hello_decorator():wrapper_function()')
        # ... some new functionality here ... #
        some_function(*args, **kwargs)
    return wrapper_function


@hello_decorator
def foo(arg=None):
    print(f'foo(), received {arg}')

# hello_decorator(foo)(1) # this is a decorated function being called. 
foo()
print('--------------------------')
def measured(f):
    def g(*args, **kwargs):
        import time
        t = time.time()
        return_val = f(*args, **kwargs)
        print(f'Elapsed time for {f.__name__} : { time.time() - t}')
        return return_val
    return g

@measured
def bar():
    sum = 0.
    for i in range( int( 1_000_000_0 ) ):
        sum += sin(i) + cos(i)
    return sum

bar()

# 03.10.23

```python
lst = []
# You don't need a comprehension here.
m, n = tuple( int(i) for i in input().split(' ') )
# lst = list( int(i) for i in input().split(' ') )
field  = [input() for i in range(n)]
```

# 17.10.23

Iterators, generators, self-written modules. They ask about iters, gens, @ at interviews.

In [ ]:
array = [4, 42, 'x']
it = iter(array)
print(next(it), next(it), next(it))#, next(it)) # StopIteration exception is thrown.
# This is what happens in a for-loop.
# Iterators are objects providing a universal interface for iterating over a collection.
#

In [ ]:
# Needs __iter__, __next__.
class LimitedIter:
    ''' Return elements until limit is reached. '''
    def __init__(self, limit) -> None:
        self.limit = limit
        self.current = 0
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.current < self.limit:
            self.current += 1
            return self.current
        else:
            raise StopIteration

it = LimitedIter(5)
# next(it) # 'LimitedIter' object is not an iterator
print( *[next(it) for i in range(5) ] )
for item in it:
    print(item) # 'LimitedIter' object is not iterable if __iter__ is not defined.
    # Nothing happens since each next() already throws StopIteration.

# If you wanna write an iterator for your super cool container,
# write the iterator class separately and then define __iter__ in your container class
# which will simply return the instance of the iterator class.
# So each instance of your container will have its own instance of the iterator.

Now let's rewrite the logic above (return a num until some threshold is reached) in __GENERATORS__.    
Generator is an object returning other objects.   
Every iterator is a generator, but not true vice versa.   
Good read: [link](https://stackoverflow.com/questions/1756096/understanding-generators-in-python)

In [ ]:
def limited_generator(limit):
    counter = 0
    print('Before yield.')
    while counter < limit:
        counter += 1
        yield counter
        print('After yield.')
    return

gen = limited_generator(5)
next(gen), next(gen), next(gen)
next(gen) # Observe how yield "freezes" execution at its line.

def _range(begin, end, step=1):
    while begin < end:
        yield begin
        begin += step
    return "GENERATION FINISHED."
print('Generator:')
print( *[i for i in _range(1, 5)] )
print('Fun:')
# Generator expressions are a high performance, memory efficient generalization of
# list comprehensions and generators.
print( type( i for i in _range(1, 5) ) )
# This approach is better than list comp. when we just need to iterate, i.e. we DO NOT NEED THE LIST AS A WHOLE.

In [5]:
y = 4
print( id(y) )
z = 4
print( id(z) ) # Should be different.

print( y == z )
print( y is z )

a = 'smth&'
b = 'smth&'
print(a is b)   # Notice how & breaks is here.
a = 'smth'
b = 'smth'
print(a is b)   # Python tries to use less memory, but with & it fails.

140369334829392
140369334829392
True
True
False
True

# 07.11.23

Scipy and pandas, and sympy.

1. Scipy - СЛАУ, интегрирование и др. ЧИСЛЕННО!
2. Sympy - символьные выражения (раскроет скобки) + точные вычисления (when float precisions is not enough).
3. Pandas - data analysis.    
**Tip** 忘记的时候搜索"Crash course".

In [10]:
import scipy
import numpy as np

A = np.array([ [1, 2, 5], [2, -1, 6], [0., 1, -1]])

eigenvals, eigenvecs = scipy.linalg.eig(A)

b = np.array([1, 2, 3], dtype=np.float64)
x = scipy.linalg.solve(A, b)

array([ 6.66666667,  1.33333333, -1.66666667])

In [18]:
def f(x):
    return np.cos(x)

scipy.integrate.quad(f, 0, np.pi) # haha funny

(4.9225526349740854e-17, 2.2102239425853306e-14)

In [29]:
import sympy

sqrt_6 = sympy.sqrt(6)
print(f'Result type is {type(sqrt_6)}')

print(sqrt_6 + 1/7)
num = sympy.Rational(1, 7) + sqrt_6
print(f'Result type is {type(sqrt_6)}, {num}')
num.n() # Obtain float representation (sympy.float)
num_fl = float(num.n())
num_fl

Result type is <class 'sympy.core.power.Pow'>
0.142857142857143 + sqrt(6)
Result type is <class 'sympy.core.power.Pow'>, 1/7 + sqrt(6)

2.592346885640321

In [35]:
x = sympy.Symbol('x')
theta = sympy.Symbol('theta')

expr = (x ** 2 - 1) / (x**2 + 1)
expr

(x**2 - 1)/(x**2 + 1)

In [48]:
quadratic = x**2 + 3*x + 2
sympy.factor(quadratic)

(x + 1)*(x + 2)

In [49]:
expr.subs('x', 'y')

(y**2 - 1)/(y**2 + 1)

In [65]:
func = sympy.lambdify(x, expr)
print( func(2) ) # you can also lambdify func of multiple variables

cos_2 = sympy.cos(2*x)
sympy.expand_trig(cos_2)

a = sympy.Symbol('alpha')
equation = sympy.Eq(a**2 - 2, a)
print(equation)
sympy.solve(equation, a, dict=True)

0.6
Eq(alpha**2 - 2, alpha)

[{alpha: -1}, {alpha: 2}]

## Pandas time

In [81]:
import pandas as pd

df = pd.read_csv('Data.csv')
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [86]:
df.columns
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [98]:
df.head(3)

df[['Calories','Date']].head(3)

   Calories          Date
0     409.1  '2020/12/01'
1     479.0  '2020/12/02'
2     340.0  '2020/12/03'

In [100]:
df.iloc[[2, 3, 6]]

   Duration          Date  Pulse  Maxpulse  Calories
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
6        60  '2020/12/07'    110       136     374.0

In [103]:
df.loc[0:5:2, ['Pulse', 'Maxpulse']]

   Pulse  Maxpulse
0    110       130
2    103       135
4    117       148

In [105]:
dfc = df.set_index('Calories')
dfc.head(3)

          Duration          Date  Pulse  Maxpulse
Calories
409.1           60  '2020/12/01'    110       130
479.0           60  '2020/12/02'    117       145
340.0           60  '2020/12/03'    103       135

In [119]:
dfc.iloc[1:3]

          Duration          Date  Pulse  Maxpulse
Calories
479.0           60  '2020/12/02'    117       145
340.0           60  '2020/12/03'    103       135

In [122]:
mask = df['Duration'] == 60
df[mask].head(3)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0

In [142]:
df.sort_values(['Duration', 'Pulse'], ascending=[False, True]).head(3)

df.describe()
# 90й процентиль - value s.t. 90% of all values are not greater than that.
# We can intorduce this notion for a given data set.
df.describe(include='all', percentiles=[0.5, 0.95])

          Duration          Date       Pulse    Maxpulse    Calories
count    32.000000            31   32.000000   32.000000   30.000000
unique         NaN            30         NaN         NaN         NaN
top            NaN  '2020/12/12'         NaN         NaN         NaN
freq           NaN             2         NaN         NaN         NaN
mean     68.437500           NaN  103.500000  128.500000  304.680000
std      70.039591           NaN    7.832933   12.998759   66.003779
min      30.000000           NaN   90.000000  101.000000  195.100000
50%      60.000000           NaN  102.500000  127.500000  291.200000
95%      60.000000           NaN  117.000000  147.450000  407.705000
max     450.000000           NaN  130.000000  175.000000  479.000000

In [148]:
df.head(3)

gr = df.groupby('Duration')
gr.describe()
for name, group in gr:
    print(name)
    print(group.head(3))

30
   Duration          Date  Pulse  Maxpulse  Calories
8        30  '2020/12/09'    109       133     195.1
45
    Duration          Date  Pulse  Maxpulse  Calories
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
18        45  '2020/12/18'     90       112       NaN
60
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
450
   Duration          Date  Pulse  Maxpulse  Calories
7       450  '2020/12/08'    104       134     253.3